body{
    background-color: black;
    margin: 0;
    color: white;
}
header{
    background-color: red;
    display: block;
    margin: 0;
    padding-top: 10px;
}
main{
    margin: 10px;
    display: block;
    min-height: 100vh;
}
footer{
    display: flex;
    background-color: red;
    border-color: white;
    border-top: solid;
    border-width: 10px;
}
.title{
    margin: 10px;
    font-size: 42px;
    color: white;
    text-decoration-line: none;
}
.header_directory{
    display: block;
    background-color: white; 
    margin-top: 15px;
    padding: 0px;
    display: flex;
}
.header_button{
    font-size: 15px;
    color: black;
    background-color: white;
    border-style:dashed;
    border-color: lightgray;
    border-top: none;
    border-bottom: none;
    border-left: none;
    margin: 0;
    padding: 5px 15px;
    text-decoration-line: none;
}
.footer_box{
    width: 50%;
    padding: 10px;
}
.footer_link{
    color: white;
    display: block;
}
.img_box{
    margin: 10px;
    display: grid;
    height: 100%;
}
.center_fit{
    width: 600px;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}